@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-green: #8dc63f;
  --main-yellow: #ffbd1a;
  --main-gray: #212121;
  --stars-color: #ef4136;
  --process-b-color: rgba(166, 163, 163, 0.94);
  --locations-icons-color: #ff841d;
  --footer-bgcolor: #678e19;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/* HEADER STARTS HERE */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.contact-info-section {
  background-color: var(--main-gray);
  color: white;
  height: 40px;
  padding: 0px 4%;
  display: flex;
  justify-content: space-between;
}
.social-media-icons {
  height: 100%;
  width: 15%;
  margin: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-media-icons a {
  text-decoration: none;
  color: #fff;
}
.social-media-icons a i {
  font-size: 1.2rem;
}
.social-media-icons a i:hover {
  color: var(--main-green);
}

.ph-numbers {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 25px;
}
.ph-numbers a {
  color: #fff;
}
.phone-icons {
  color: var(--main-green) !important;
  margin: 0 2px 0 4px;
}
.call-me-back-btn {
  background-color: var(--main-green);
  color: #000;
  font-weight: 700;
  font-size: 12px;
  padding: 6px 8px;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 0;
}

.logo-and-navlinks-section {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  overflow: hidden;
  padding: 0px 3%;
  position: relative;
}
.panaverse-logo {
  margin-top: 8px;
  height: 60px;
  margin-left: 20px;
}
.navbar {
  width: 70%;
  height: 100%;
}
.navbar-lists {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 550;
  width: 100%;
  height: 100%;
}
.navbar-lists li {
  list-style: none;
  cursor: pointer;
  height: 60%;
  transform: translateY(30%);
}
.navbar-lists li:hover {
  font-size: 18px;
  font-weight: 900 !important;
  padding-bottom: 12px;
  border-bottom: 7px solid var(--main-yellow);
  transition: ease-in;
}
.navbar-lists li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.hamburger {
  display: none;
}
/* HEADER ENDS HERE */

/* MAIN STARTS HERE */

/* HERO SECTION */
.slider-container {
  position: relative;
  height: 35rem;
}
.slider1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("https://st4.depositphotos.com/39251066/40682/i/450/depositphotos_406823840-stock-photo-abstract-geometric-green-yellow-curve.jpg");
}

.slider-text-and-btn {
  height: 100%;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.8rem;
  color: #544d4d;
  text-align: center;
}
.slider-text-and-btn h1 {
  font-size: 5rem;
}
.slider-text-and-btn p {
  font-size: 1.2rem;
  line-height: 28px;
  width: 40%;
}
.readmore-btn {
  background-color: var(--main-yellow);
  color: #000000;
  font-size: 1rem;
  font-weight: 550;
  border: none;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}
.slider-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  z-index: 22;
  gap: 8px;
}
.slider-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-rectangle {
  width: 31%;
  height: 5rem;
  background-color: #aaff00;
  border-radius: 5px;
}
.radiobtn {
  border-radius: 50%;
  height: 1.7rem;
  width: 1.7rem;
  background-color: #fff;
  opacity: 45%;
  border: none;
}
.radiobtn1 {
  opacity: 100%;
}
/* HERO SECTION ENDS */

/* OUR ADVANTAGES SECTION STARTS HERE */

/* UTILS FOR EVERY SECTION */

/* .our-advantages-section {
  width: 100%;
  margin-bottom: 5rem;
} */
.section-heading {
  margin: 3rem auto 1.5rem auto;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
}
.section-heading h1 {
  font-size: 3rem;
  text-align: center;
}
.section-heading .advantages {
  color: var(--main-green);
}
.section-heading p {
  color: #817979;
  text-align: center;
}

/* UTILS FOR EVERY SECTION ENDS HERE*/

.advantages-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 1;
  height: 20rem;
}
.card {
  text-align: center;
  width: 15%;
}
.card-text {
  padding: 20px 0;
}
.card-text h3 {
  padding: 10px 0;
  font-size: 24px;
}
.card-text p {
  color: #544d4d;
}
.card-img img {
  width: 7rem;
}
/* OUR ADVANTAGES SECTION ENDS HERE */

/* ABOUT US SECTION STARTS HERE */
.about-us-section {
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 100%;
}
.about-us-desc {
  display: flex;
  position: relative;
  z-index: 3;
}
.about-us-section h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
}
.about-us-text-btn {
  width: 45%;
  margin-top: 5rem;
}
.about-us-text-btn p {
  margin: 2rem;
  font-size: large;
  font-weight: 500;
}
.about-read-more-btn {
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 0.8rem 2.5rem;
  border-radius: 0.35rem;
  background-color: var(--main-yellow);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
.about-us-images {
  width: 55%;
}
.about-us-image {
  width: 100%;
  height: 100%;
}
.about-us-image img {
  width: 100%;
  height: 100%;
}

/* ABOUT US SECTION ENDS HERE */

/* OUR SERVICES SECTION STARTS HERE */

/* USED CSS FOR SERVICES CARDS FROM ADVANTAGES */
.services-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.star-circle {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-yellow);
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 5px;
}

/* OUR SERVICES SECTION ENDS HERE */

/* OUR PORTFOLIO SECTION STARTS HERE */
.our-portfolio-section {
  background-color: #212121;
  color: #fff;
  padding: 15px 0;
  margin-top: 5rem;
}
.portfolio-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
  gap: 3rem;
}
.portfolio-nav ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.portfolio-nav ul li:hover {
  color: var(--stars-color);
}
.logo-grid {
  width: 80%;
  margin: 0 auto 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* background-color: burlywood; */
}
.logo-grid img {
  width: 100%;
  height: 100%;
  background: #e9e7e7;
}

/* OUR PORTFOLIO SECTION ENDS HERE */

/* OUR PROCESS SECTION STARTS HERE */

.process-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.process-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.process-icon {
  border: 2px solid var(--process-b-color);
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.process-number {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  z-index: 11;
  background-color: var(--main-yellow);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 50%;
}
.process-texts {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}
.process-text h4 {
  margin: 5px 0;
  font-size: 17px;
}
.process-connecting-line {
  height: 2px;
  width: 8rem;
  background-color: var(--process-b-color);
}

/* OUR PROCESS SECTION ENDS HERE */

/* PEOPLE ABOUT US SECTION STARTS HERE */
.people-about-us {
  margin-bottom: 2rem;
}
.reviews-container {
  width: 90%;
  margin: 0 auto;
}
.reviews-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--process-b-color);
}
.row1-padding {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.row2-padding {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.left-review {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-right: 2px solid var(--process-b-color);
  padding-right: 10rem;
}
.left-review-icon {
  font-size: 6rem;
  color: var(--process-b-color);
}
.left-review-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-review {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-left: 10rem;
}
.right-review-icon {
  font-size: 6rem;
  color: var(--process-b-color);
}
.right-review-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviews-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-slider-nav {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.reviews-radiobtn {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: rgb(255, 140, 0);
  opacity: 45%;
  border: none;
}
.reviews-radiobtn1 {
  opacity: 100%;
}
/* PEOPLE ABOUT US SECTION ENDS HERE */

/* OUR SKILLS SECTION STARTS HERE */
.skills-circles {
  height: 500px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 60px;
}
.skill-circle {
  position: relative;
  width: 10rem;
  height: 10rem;
}
.skill-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  font-size: 16px;
}
.skill-border {
  border: 5px solid var(--bClr);
  border-radius: 50%;
  width: 10.2rem;
  height: 10.2rem;
  position: absolute;
  z-index: 1;
}
.skill-percentage-circle {
  /* border: 30px solid #febd19; */
  background-image: conic-gradient(
    from 0deg,
    var(--clr) 0%,
    var(--clr) 0% var(--i),
    transparent var(--i)
  );
  border-radius: 50%;
  height: 11.5rem;
  width: 11.5rem;
  position: absolute;
  right: -15px;
  top: -11px;
  z-index: 5;
}
.skill-percentage {
  height: 9rem;
  width: 9rem;
  background-color: #fff;
  color: var(--clr);
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 8px;
  top: 7px;
  z-index: 10;
}

/* OUR SKILLS SECTION ENDS HERE */

/* PACKAGES */
.packages-section-heading {
  text-align: center;
  margin: 2rem 0;
}
.packages-section-heading h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #37414c;
}
.packages-section-heading p {
  font-size: 18px;
}
.packages-section {
  margin: 4rem 0;
}
.packages {
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
}
.package-container {
  width: 30%;
}

.package1 {
  width: 100%;
  border: 1px solid rgba(120, 118, 118, 0.685);
  text-align: center;
  position: relative;
  right: -20px;
  background-color: #fff;
  z-index: 1;
}
.package2 {
  width: 90%;
  border: 1px solid black;
  text-align: center;
  position: relative;
  top: -30px;
  background-color: #fff;
  z-index: 10;
}
.package3 {
  width: 100%;
  border: 1px solid rgba(120, 118, 118, 0.685);
  text-align: center;
  position: relative;
  left: -75px;
  background-color: #fff;
  z-index: 1;
}
.package-heading {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
  width: 90%;
  margin: 0 auto 10px auto;
  border-bottom: 1px solid rgba(120, 118, 118, 0.685);
}
.price {
  font-size: 3.2rem;
  font-weight: 800;
  color: var(--main-green);
}
.discount {
  font-size: 18px;
  font-weight: 700;
}
.services {
  margin: 2rem 0 5.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services p {
  font-size: 18px;
}
.order-btn-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.order-btn {
  position: absolute;
  bottom: -26.15px;
  padding: 15px 30px;
  background-color: #0685f6;
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3%;
  cursor: pointer;
}
.all-packages-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.all-packages-btn {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: var(--main-green);

  cursor: pointer;
}

/* PACKAGES */

/* NEW PROJECTS SECTION STARTS HERE */
.new-projects {
  background-color: var(--main-green);
  color: #fff;
  padding: 50px 0;
}
.new-projects-heading {
  text-align: center;
  font-size: 60px;
}
.project-form {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.inputs {
  display: flex;
  gap: 20px;
}
.inputs label input {
  padding: 15px 55px 15px 20px;
  border-radius: 5px;
  border: none;
}
.project-form-btn {
  border: none;
  border-radius: 7px;
  background-color: var(--main-yellow);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 6px 8px rgba(157, 146, 0, 0.642);
  cursor: pointer;
}
.new-projects-para {
  margin: auto;
  width: 45%;
  text-align: center;
}
/* NEW PROJECTS SECTION ENDS HERE */

/* OUR CONTACTS SECTION STARTS HERE */

.contacts-para {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  gap: 20px;
  font-weight: 500;
}
.contacts-para i {
  font-size: 27px;
  color: var(--main-green);
}
.contacts-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  gap: 45px;
  margin: 20px 0;
  font-weight: 500;
}
.contacts-info i {
  color: var(--main-green);
  font-size: 27px;
  margin-right: 8px;
}
.contacts-locations {
  height: 500px;
  font-size: 30px;
  color: var(--locations-icons-color);
  display: flex;
  margin: 40px 0;
}
.location-icon1 {
  width: 20%;
  height: 100%;
  padding: 90px 20px 0 300px;
}
.location-icon2 {
  width: 20%;
  height: 100%;
  padding: 300px 20px 0 250px;
}
.location-icon3 {
  width: 20%;
  height: 100%;
  padding: 170px 20px 0 50px;
}
.location-icon4 {
  width: 20%;
  height: 100%;
  padding: 300px 20px 0 0px;
}
.location-icon5 {
  width: 20%;
  height: 100%;
  padding: 70px 20px 0 0;
}
/* OUR CONTACTS SECTION ENDS HERE */

/* FOOTER STARTS HERE */

footer {
  background-color: var(--footer-bgcolor);
  color: #fff;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.footer-company-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  gap: 40px;
}
.footer-logo {
  width: 180px;
  margin: 20px 0;
}

.footer-lists {
  width: 15%;
}
.footer-lists-heading {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0 30px 0;
}
.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-ul li {
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
}
.footer-vertical-line {
  margin-top: 20px;
  width: 2px;
  background-color: var(--main-green);
}
.footer-contacts {
  width: 15%;
}
.footer-contact-info {
  margin: 10px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-contact-info i {
  font-size: 20px;
  margin-right: 8px;
  color: #fff !important;
}
.footer-social-media-info {
  margin-left: 10px;
  font-size: 20px;
}
.footer-sm-icons {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}
.footer-sm-icons i {
  font-size: 20px;
  color: #fff !important;
}

/* FOOTER ENDS HERE */
